:root {
  --card-border-radius: 0.75rem;
}

.cards {
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 1rem 1rem 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: end;
  overflow: hidden;
  position: relative;
  height: 1.75rem;
}

.card[data-category="work"] {
  background-image: linear-gradient(to bottom, #ff8b64 50%, #0d1323 50%);
}

.card[data-category="play"] {
  background-image: linear-gradient(to bottom, #56c2e6 50%, #0d1323 50%);
}

.card[data-category="study"] {
  background-image: linear-gradient(to bottom, #ff5f7d 50%, #0d1323 50%);
}

.card[data-category="exercise"] {
  background-image: linear-gradient(to bottom, #4bcf83 50%, #0d1323 50%);
}

.card[data-category="social"] {
  background-image: linear-gradient(to bottom, #7334d2 50%, #0d1323 50%);
}

.card[data-category="self care"] {
  background-image: linear-gradient(to bottom, #f1c75b 50%, #0d1323 50%);
}

.card-header img {
  height: 2.5rem;
  position: absolute;
  top: -0.25rem;
  right: 0.75rem;
}

.card-body {
  padding: 1rem;
  border-radius: var(--card-border-radius);
  cursor: pointer;
  background-color: #1d204b;
}

.card-body:hover {
  background-color: #34397b;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.card-title img {
  height: 0.2rem;
}

.card-current {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.card-previous {
  font-size: 0.75rem;
  color: #8e92c2;
}
