:root {
  --card-border-radius: 0.75rem;
}

.cards {
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: end;
  overflow: hidden;
  position: relative;
  height: 1.75rem;
}

.card[data-category="work"] {
  background-color: #ff8b64;
}

.card[data-category="play"] {
  background-color: #56c2e6;
}

.card[data-category="study"] {
  background-color: #ff5f7d;
}

.card[data-category="exercise"] {
  background-color: #4bcf83;
}

.card[data-category="social"] {
  background-color: #7334d2;
}

.card[data-category="self care"] {
  background-color: #f1c75b;
}

.card-header img {
  height: 2.5rem;
  position: absolute;
  top: -0.25rem;
  right: 0.75rem;
}

.card-body {
  padding: 1rem;
  border-radius: var(--card-border-radius);
  cursor: pointer;
  background-color: #1d204b;
}

.card-body:hover {
  background-color: #282a4f;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.card-title img {
  height: 0.2rem;
}

.card-current {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.card-previous {
  font-size: 0.75rem;
}
